@font-face {
    font-family: "Poppins";
    src: url("font/Poppins/Poppins") format("ttf"),      
   }

@font-face {
    font-family: "Poppins-Medium";
    src: url("font/Poppins/Poppins-Medium") format("ttf"),      
   }



#bloc-page
{
   width: 900px;
    margin: auto;
    color: black;
    font-family: "Poppins";
    line-height: 40px;
  

}
header
{
    display:flex;
    align-items: center;
    background-color: #0475ba;
    color: white;
    height:72px
    
}
header h1
{
    font: size 0.5em;
    font-weight:normal;
    margin:10 10 10 10px;
}


nav ul
{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;

    
}
nav li
{
    margin-right: 40px;
}


nav a
{
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
    color: white;
}



#profil
{
    display: flex;
    background-color: white;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-left: 20%;
}




#profil h2 
{
    font-size: 1.3em;
    color: black;


}

#profil h3
{
    font-size: 1.3em;
    color: #0475ba;

}


.monimage 

{
 margin-top:40px;   
}

.monimage img
{
    border-radius: 50%;
    height: 150px; /*hauteur*/
    width:200px; /*largeur*/
   margin-right: 200px;
}

#presentation
{
    color: white;
    background-color: #0475ba;
    padding-top: 2%;
    padding-bottom: 2%;
}

#presentation h1
{
    margin-left: 20%;
   
}
 
#presentation li
{
    margin-left: 20%;
}
	
#experiences-professionnelles 
{
    display: flex;
    
    flex-wrap: wrap;
    
    justify-content: space-between;
    background-color: white;
    margin-left: 20%;
    margin-right: 10%;
    
}
.titre 
{
    
    width: 100%;
    color:#0475ba ;
    
}
.annee-carrefour
{
    font-weight: bold;
}
.annee-psychologue
{
    font-weight: bold;
}


#mes-formations
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#0475ba;
  color:white;
  
  
} 
.titre1
{
    

    width:100%;
    margin-left:20%;
    
}
.diplome
{
    
    font-weight: bold; 
    margin-left:20%;
}
.annee
{
    font-weight: bold; 
    width:15%;
    
}



#passions
{
    background-color:white ;
    color:black;
    margin-left:20%;
}
#passions h1
{
    color:#0475ba ;
}
footer
{
    display: flex;
    background-color:#0475ba ;
    flex-wrap: wrap;
    justify-content: space-between;
    
   
     
}


#titres 
{

    color: white;
    text-align: middle;
    text-decoration: underline;
    margin-left: 3%;
    
}


#titres  a
{

    color: white;
 
}

.link
{
    color: white;

     margin-right: 600px;
     padding-top: 50px;
}
@media all and (max-width:768px)
{
    #bloc-page
    {
    width: auto;
    
    }

    h1
    {
text-align: center;
    }
    nav ul
{
    display:none;
}
#profil
{
   
    flex-direction: column;
    margin-left: 0%;

    
}

.monimage img
{
  
   margin-right: 0px;

}
#presentation h1
{
    text-align: center;
    margin: auto;
}

#presentation li
{
    
    margin:0px;
}
#experiences-professionnelles 
{
  
  margin: 0px;
}

.diplome
{
    margin-left: 0%;
    width:50% ;
}
.titre1
{

text-align: center;
    margin: auto;
}
#passions
{
    
    margin:0%;
}
#passions h1
{
    text-align: center;
    margin: auto;
}
    
    

  
footer
{
    
    flex-direction: column;
    
}
.link
{
    margin-left: 3%;
}


}




